.w-custom {
  width: 57px;
}

.h-custom {
  height: 56px;
}

/* Adicione um estilo para a topbar */
.topbar {
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /* Totalmente transparente quando branca */
  transition: background-color 1.5s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.topbar.scroll {
  background-color: rgba(
    147,
    51,
    234,
    0.9
  ); /* Cor roxa mais suave e 30% transparente */
}
.download-button {
  background-color: rgb(147, 51, 234); /* Cor de fundo do botão */
}
